.cart {
    @include container;

    @include category;

    &__category-name {
        color: $color-green;
        padding-bottom: 4rem;
    }

    &-list-product {
        width: 100%;

        &__title {
            width: 100%;
            display: flex;
            height: 50px;
            box-sizing: border-box;

            span {
                background-color: $color-green;
                @include border-list-product(white,17px)
            }

            &-img {
                width: 190px;
            }

            &-name {
                width: 270px;
            }

            &-price, &-amount {
                width: 160px;
            }

            &-total {
                width: 250px;
            }

            &-del {
                width: 110px;
            }
        }

        &__item {
            width: 100%;
            display: flex;
            height: 190px;
            box-sizing: border-box;

            span {
                @include border-list-product($color-gray,87px);
                border-top: none;
            }

            &-img {
                width: 190px;
                padding: 15px;
                border: $cart-border;
                border-right: none;
                border-top: none;
            }

            &-name {
                width: 270px;
                color: $color-green !important;
            }

            &-price {
                width: 160px;
            }

            &-amount {
                width: 160px;
                margin-top: -1rem;
                
                p {
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    border: $cart-border;
                    text-align: center;
                    box-sizing: border-box;
                    padding-top: 14px;
                }
            }

            &-total {
                width: 250px;
            }

            &-del {
                width: 110px;
            }
        }
    }

    &-action {
        margin-top: 2.75rem;
        margin-bottom: 4.5rem;
        display: flex;
        justify-content: flex-end;

        &__cancel {
            @include button(transparent,$color-green);
        }

        &__buy {
            @include button($color-green,white);
            margin-left: 20px;
        }
    }

    &-bill {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 13.5rem;

        &__information {
            width: 680px;

            &-item {
                width: 100%;
                height: 95px;
                box-sizing: border-box;
                color: $color-green;

                div {
                    font-size: $font-size;
                    padding-top: 39px;
                    padding-bottom: 39px;
                    border: $cart-border;
                    border-bottom: none;
                    font-weight: bolder;

                    &:nth-last-child(1) {
                        border-left: none;
                    }
                }

                &.-total {
                    background-color: $color-green;
                    color: white;

                    div {
                        border: none;
                        font-size: 1rem;
                        font-weight: bolder;

                        &:nth-child(1) {
                            border-right: $cart-border;
                        }
                    }
                }

                &-title {
                    width : 64%;                    
                    float: left;
                    padding-left: 155px;
                }

                &-price {
                    width: 36%;
                    float: right;
                    padding-left: 80px;
                }
            }

            &-btn-buy {
                @include button($color-green,white);
                float: right;
                margin-top: 2rem;
            }
        }
    }
}