$pop-up-bg : #f1eeeb;
$color-green : #3fb871;
$color-gray : #868685;
$font-size : 0.85rem;
$header-bg : #202020;
$border-social : rgb(73, 73, 73);
$copy-bg : #434343;
$footer-bg : #313131;
$color-footer: #a2a2a2;
$border-cart : #c2c2c2;
$border-item : #d9dde0;
$color-star : #febf01;
$bg-tag-red: #d64146;
$color-detail-name : #363533;
$bg-list : #fbf9f9;
$social-border : 1px solid $border-social;