@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'sass/var';
@import 'sass/mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import 'sass/pop-up';
@import 'sass/header';
@import 'sass/footer';
@import 'sass/register';
@import 'sass/login';
@import 'sass/cart';
@import 'sass/home';
@import 'sass/contact';
@import 'sass/grid';
@import 'sass/list';
@import 'sass/media';