- var icons = ["visa","mastercard","paypal","discover"];
- var menu = ["trang chủ","giới thiệu","sản phẩm","sản phẩm mới","tin tức","liên hệ"]
- var usersInfor = ["  Tài khoản của tôi","  Sản phẩm yêu thích","  Lịch sử mua hàng","  Chính sách đổi trả","  Góp ý, khiếu nại"];
- var supportServices = ["  Hệ thống cửa hàng","  Hướng dẫn mua hàng","  Hướng dẫn thanh toán","  Tích điểm đổi quà","  Câu hỏi thường gặp"];
- var policy = ["  Chính sách giao hàng","  Chính sách đổi trả sản phẩm","  Chính sách bảo hành","  Giới thiệu sản phẩm mới","  Chính sách trả góp"];
- var news = ["  Tin mới","  Khuyến mại","  Tuyển dụng","  Download","  Tags"]
- var inforMore = ["Sitemap","Danh mục sản phẩm","Hợp tác","Thông tin liên hệ","Câu hỏi thường gặp"];
- var itemsCart = [{img : "images/spx2-1.png", name : "CÂY VĂN PHÒNG", price : "270.000 đ", amount : "1", total : "270.000 đ"},{img : "images/spx2-1.png", name : "CÂY VĂN PHÒNG", price : "270.000 đ", amount : "1", total : "270.000 đ"},{img : "images/spx2-1.png", name : "CÂY VĂN PHÒNG", price : "270.000 đ", amount : "1", total : "270.000 đ"}];
- var titlesCart = [{img : "HÌNH ẢNH"},{name : "TÊN SẢN PHẨM"},{price : "ĐƠN GIÁ"},{amount : "SỐ LƯỢNG"},{total : "THÀNH TIỀN"},{del : "XÓA"}];